.pokemon-title{
    background-color: green;
    text-align: center;
    margin: 1% 3% 2% 3% ;
    padding: 15px;
    height: 50px;
    vertical-align: middle;
    color: white;
}
.pokemon-stats-data{
    height: 30px;
    background-color: green;
    color: white;
    border-style:solid;
}
.pokemon-stats{
    display: flex;
    justify-content: center;
}