<ng-container *ngIf="pokemon">
  <div class="container">
    <div class="row">
      <div
        class="pokemon-title"
        [style.background]="getFirstColorType(pokemon)"
      >
        <h1>{{ pokemon.name | titlecase }} # {{ pokemon.id }}</h1>
      </div>
      <div class="stats">
        <div class="stats-title"><p>Stats</p></div>
        <div class="pokemon-types">
          <p
            class="pokemon-type"
            *ngFor="let type of pokemon.types"
            [style.background]="getTypeColor(type.type.name)"
          >
            {{ type.type.name | titlecase }}
          </p>
        </div>
        <div *ngFor="let stat of pokemon.stats" class="pokemon-stats">
          <div
            class="pokemon-stats-data"
            role="progressbar"
            [style.background]="getFirstColorType(pokemon)"
            [style.width]="stat.base_stat + '%'"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            {{ stat.stat.name | titlecase }} -
            {{ stat.base_stat }}
          </div>
        </div>
      </div>
      <div class="profile-container">
      <div class="profile-title"><p>Profile</p></div>
      <div class="profile">
        <div class="profile-headers" style="width: 20rem">
          <p class="list-group-item bg-transparent">Height</p>
          <p class="list-group-item bg-transparent">Weight</p>
          <p class="list-group-item bg-transparent">Ability</p>
        </div>
        <div class="profile-data">
          <p>{{ 0.1* pokemon.height }} m</p>
          <p>{{ 0.1* pokemon.weight }} kg</p>
          <span *ngFor="let pokemon of pokemon.abilities">
            {{ pokemon.ability.name | titlecase }}
          </span>
          <span *ngFor="let pokemon of pokemon.species.egg_groups">
            {{ pokemon.name | titlecase }}
          </span>
        </div>
      </div>
      </div>

      <div class="evolution-container">
      <div class="evolution-title">
        Evolution
          <div *ngFor="let evolution of pokemon.evolutions" class="evolution-data">
                  <p>{{ evolution.name | titlecase }}</p>
              </div>
        </div>
      </div>
      <div class="damage-container">
        <div class="damage-title">
          Damage When Attacked
          </div>
        
      </div>
    </div>
      <div class="position-absolute top-0 start-0">
        <a class="btn btn-lg text-white" [routerLink]="['/']">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            fill="currentColor"
            class="bi bi-arrow-left"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
            />
          </svg>
        </a>
      </div>
    </div>
</ng-container>
