.pokemon-title {
  text-align: center;
  margin: 1% 3% 2% 3%;
  padding: 15px;
  height: 50px;
  vertical-align: middle;
  color: white;
  margin-top: 100px;
}
.stats {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin-bottom: 10%;
}
.damage-data {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.evolution-data {
  display: flex;
  justify-content: space-around;
  font-size: large;
}
.evolution-data > div > p {
  padding: 5px 10px 0px 10px;
  color: black;
}

.damage-data > p {
  font-size: large;
}

.title {
  font-size: 24px;
  text-align: center;
  width: 300px;
  margin-bottom: 50px;
  padding: 15px;
  height: 50px;
  vertical-align: middle;
  color: white;
}
.profile-data > p {
  padding: 10px 15px;
}
.profile-data > span {
  padding: 10px 15px;
}
.profile {
  display: flex;
  justify-content: center;
  font-size: large;
}

.profile-container {
  margin-bottom: 10%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 3%;
}
.list-group-item {
  border: none;
}

.evolution-container {
  margin-bottom: 10%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 3%;
}
.pokemon-stats {
  display: flex;
  min-width: 500px;
  max-width: 700px;
  margin-left: 30%;
  color: white;
  font-size: large;
  border-style: solid;
}
.pokemon-types {
  display: flex;
  justify-content: center;
}
.pokemon-type {
  display: inline-flex;
  margin: 15px 10px 5px 0px;
  padding: 5px 10px;
  text-shadow: black 1px 1px 1px;
  border-radius: 10px;
  font-size: 15px;
}
.damage-container {
  margin-bottom: 10%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 3%;
}
.list-comma::before {
  content: ",";
}
.list-comma:first-child::before {
  content: "";
}
.pokemon-detail-image {
  position: absolute;
  top: 35%;
  left: 20%;
}
