<form [formGroup]="productForm" >
  <ng-container formArrayName="products">
    <ng-container *ngFor="let productForm of products.controls; let i = index">
  <div [formGroupName]="i">
      <table class="product-table" cellspacing="0">
    <tr class="first-row">
      <td>
        <mat-form-field class="name-field" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name"/>
          <mat-error
            *ngIf="
              productForm.get('name')?.hasError('required') ||
              productForm.get('name')?.hasError('minlength') ||
              productForm.get('name')?.hasError('pattern')
            "
            >The field is required, should have minimum 3 characters, composed only from alphabets and/or numbers.</mat-error
          >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="description-field" appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" />
          <mat-error
            *ngIf="
              productForm.get('description')?.hasError('required') ||
              productForm.get('description')?.hasError('minlength') ||
              productForm.get('description')?.hasError('pattern')
            "
            >The field is required, should have minimum 3 characters, composed only from alphabets and/or numbers.</mat-error
          >
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="price-field" appearance="fill">
          <mat-label>Price</mat-label>
          <input matInput formControlName="price"/>
          <mat-error
            *ngIf="
              productForm.get('price')?.hasError('required') ||
              productForm.get('price')?.hasError('pattern')
            "
            >The field is required and the input type shoud be number with 2 decimal places.</mat-error
          >
        </mat-form-field>
      </td>
    </tr>
    <tr class="second-row">
      <td>
        <mat-form-field class="category-field" appearance="fill">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option
            
              *ngFor="let category of categories"
              [value]="category.id"
            >
              {{ category.value }}
            </mat-option>
            
          </mat-select>
          <mat-error
            *ngIf="
              productForm.get('category')?.hasError('required')
            "
            >The field is required.</mat-error
          >
        </mat-form-field>
      </td>
       <td>
        <mat-form-field class="image-field" appearance="fill">
          <mat-label>Image URL</mat-label>
          <input matInput formControlName="image" />
          <mat-error
            *ngIf="
              productForm.get('image')?.hasError('required') ||
              productForm.get('image')?.hasError('pattern')
            "
            >The field is required and image url should be valid</mat-error
          >
        </mat-form-field>
      </td>
      <td>
        <mat-icon
          aria-hidden="false"
          aria-label="Phone icon"
          fontIcon="phone"
        ></mat-icon>
        <mat-form-field class="phone-field" appearance="fill">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone"/>
          <mat-error
            *ngIf="
              productForm.get('phone')?.hasError('required') ||
              productForm.get('phone')?.hasError('maxlength') ||
              productForm.get('phone')?.hasError('pattern')
            "
            >The field is required, numbers only and the maximum length is 10.</mat-error
          >
        </mat-form-field>
      </td> 
      <td>
        <mat-form-field class="phone-type-field" appearance="fill">
          <mat-label>Select</mat-label>
          <mat-select formControlName="typeOfPhone">
            <mat-option
              *ngFor="let phoneType of phoneTypes"
              [value]="phoneType.id"
            >
              {{ phoneType.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <mat-icon class="delete-btn" (click)="deleteProduct(i)">
        delete_forever</mat-icon>
    </tr>
  </table>
</div>
  </ng-container>
</ng-container>
    <button mat-button  [disabled]="productForm.invalid" (click)="addNewProduct()">Add new product</button>
  
  <div class="buttons-row">
    <button (click)="clearForm()" mat-button class="reset">Reset</button>
    <button
      [disabled]="productForm.invalid && products.controls.length === 0"
      mat-button
      type="submit"
      class="submit"
    >
      Save
    </button>
  </div>
</form>
