.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reset {
  background-color: #3f51b5;
  color: white;
  width: 100px;
}
.reset-submit-buttons {
  display: flex;
  flex-direction: row;
  margin-right: 7%;
}
.submit {
  background-color: #3f51b5;
  color: white;
  margin-left: 7%;
  width: 100px;
}
.add-button {
  background-color: #3f51b5;
  color: white;
  margin-left: 7%;
}
.product-form {
  margin: 0% 3% 4% 3%;
  padding-top: 100px;
}
.remove-button{
  float: right;
  position: relative;
  top: 110px;
  left: 25px;
}
