.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
td {
  padding-right: 8px;
}
.reset {
  background-color: #3f51b5;
  color: white;
  width: 100px;
  margin-bottom: 4%;
}
.submit {
  background-color: #3f51b5;
  color: white;
  margin-left: 1%;
  width: 100px;
  margin-right: 7%;
  margin-bottom: 4%;
}
.add{
  background-color: #3f51b5;
  color: white;
}
.buttons-row {
  display: flex;
  justify-content: flex-end;
}
.product-table {
  margin: 2% 0% 5% 3%;
  width: 90%;
}
