.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
td {
  padding-right: 8px;
}
.buttons-row
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reset {
  background-color: #3f51b5;
  color: white;
  width: 100px;
}
.reset-submit-buttons{
  display: flex;
  flex-direction: row;
  margin-right: 8%;
}
.submit {
  background-color: #3f51b5;
  color: white;
  margin-left: 7%;
  width: 100px;
}
.add-button{
  background-color: #3f51b5;
  color: white;
  margin-left: 5%;
}
.product-table {
  margin: 2% 0% 5% 3%;
  width: 90%;
}

