  <ul class="nav navbar-nav">
    <li><img
      class="pokemon-logo"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png"
    /></li>
    
    <div class="nav-item"><li><a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li></div>
    <div class="nav-item"><li><a routerLink="/detail" routerLinkActive="active" ariaCurrentWhenActive="page">Detail</a></li></div>
    <div class="nav-item"><li><a routerLink="/create-product" routerLinkActive="active" ariaCurrentWhenActive="page">Create Product</a></li></div>
   <div class="nav-item"><li><a routerLink="/product-list" routerLinkActive="active" ariaCurrentWhenActive="page">Product List</a></li></div>
  </ul>
<router-outlet></router-outlet>
