.grid-layout {
    padding: 50px 0;
    display: grid;
    max-width: 100%;
    grid-gap: 60px;
    margin: 0 auto;
    width: 95%;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.product-card {
    width: 250px;
    height: 300px;
    color: #4E5152;
    background-color: #D8F4F7;
    display: inline-block;
}

.product-card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    cursor: pointer;
}

.mat-card-title {
    font-size: 22px;
    display: inline-flex;
    text-transform: capitalize;
}
.image-not-found{
    background:url('src/app/images/not found.png');
    height: 250px;
}
.image-found{
height: 250px;
}
