<div style="text-align:center">
    <div class="grid-layout" *ngIf="list">
      <div
        *ngFor="let item of list">
        <mat-card *ngIf="imageExists(item.image) === true" class="product-card">
            <img class="image-found"
              mat-card-image
              src={{item.image}}
            />
          <mat-card-title>{{ item.name}}</mat-card-title>
        </mat-card>
          <mat-card *ngIf="imageExists(item.image) === false" class="product-card">
            <img class="image-not-found"
              mat-card-image
            />
          <mat-card-title>{{ item.name}}</mat-card-title>
        </mat-card>
      </div>
      </div>
    </div>  